
html{
	font-size:16px;
}

/* ----------------- MENU ---------------*/
nav{
	margin-top:28%;	
	width: 100%;	
	height:60px;
	border: 1px solid red; 	
	background-color: #404040;
	border-radius: 5px 5px 5px 5px;
}
ul.menu {
	float:left;
	width:95%;
	height:100%;
	text-align: center;
	padding:0;
	padding-left: 5%;
}
ul.menu li{
	float: left;
	list-style:none;
	position: relative;
	text-align: center;
	width:19%;
	border-right: 1px solid white;
	transition: background 1s linear;	
}
ul.menu>li:first-child{
	border-left: 1px solid white;
}
ul.menu li a{
	display: block;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
	font-size: 1 rem;
	color: white;
	padding: 12px 10px;
	
}
li.active{
	background-color:#900;
}
ul.menu li:hover:not(.active){
	background-color: #111;
}
ul.submenu {
	display: none;
	width: 100%;
	position: absolute;
	background-color: #404040;
	padding: 0px;
	border-radius: 0px 0px 4px 4px;
}
ul.menu li:hover ul.submenu{
	display: block;
}
ul.submenu li{
	width: 100%;
	border: 1px solid white;
	border-radius: 4px;	
}
ul.submenu li a{
	padding: 8px 14px;
}
ul.submenu li a:hover{
	background-color: #111;
}
/* ---------- END MENU -----------*/

header{
	background-image: url("images/space-trivia-questions.jpg");
}
body{
	background-image:url("images/Fundal maybe.jpeg");

}
.fundal{
	background-color: rgba(128,128,128, .5);
	color: white;
	border-radius: 15px 15px 15px 15px;
	margin-left:10%;
	margin-right:10%;
	padding: 20px;
	margin-top: 1%;
	margin-bottom: 1%;
}
.fundal:hover{
	background-color: rgba(83, 51, 237, 0.5);
	transition: background 1s linear;
}
footer{
	background-color: rgba(128,128,128, .8);
}
p{
	margin-left: 20px;
	font-size: 18px;
}
h1{
	color: white;
	text-align: center;
	font-size:50px;
	font-style: italic;
}
h2{
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 30px;
	color:white;
}
footer, footer>p>a{
	background-image: linear-gradient(to bottom, blue , black);
	color: white;
	font-size:18px;
	border-radius: 15px 15px 15px 15px;
}
.zoom{
	transition: transform .5s;
}
.zoom:hover{
	transform: scale(1.3); 

}
aside{
	font-size: 0.93rem;
}
p{
	margin-left: 5%;
	margin-right: 5%;
}
#listp{
	margin-left:5%;
}
