figure {
    display: inline-block;
    border: 1px dotted gray;
    width: 50%;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
    background-color: purple;
}
.coloane{
    display: flexbox;
    column-count: 2;
    margin-top: 10%;
}
/*main{
    position: relative;
}*/
#soare{
    z-index: 0;
    display:block;
    background-color: none;
    padding-bottom: 10%;
    padding-right:9%;
    position:absolute;
    border-radius: 10px 10px 10px 10px;
    margin-left:2%;
}
.nozoom>img{
    width: 100%;
    height: 100%;
}
.fundal{
    padding-bottom: 50px;
}
ul.submenu{
    z-index: 1;
}
