ul.menu li a{
    font-size: 0.7rem;
}
p {
    font-size: 0.8rem;
}
h2{
    font-size: 1.2rem;
}
.fundal{
    padding-bottom: 30%;
}
h2{
    padding-top: 5%;
}
#adresa{
    margin-top: 50%;
    width: 40%;
}
.fundal{
    padding-bottom: 10px;
}
.nimic{
    padding-bottom: 80%;
}