.fundal:hover{
	background-color: rgba(87, 168, 185, 0.5);
	transition: background 1s linear;
}
.socialmedia{
    margin-left:5%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 5%;
}
.fa:hover {
opacity: 0.9;
}
.fa-facebook {
background: #3B5998;
color: white;
}  
.fundal{
    padding-bottom: 2%;
}
#adresa{
    width:20%;
    height: 20%;
    margin-top:10%;
    margin-left:5%;
}
.nimic{
    padding-bottom: 70%;
}
section p{
    font-size: 1.5em;
}