ul.menu li a{
    font-size: 0.6rem;
}
figure {
    position: relative;
    display: inline-block;
    margin-left:20%;
    width:60%;
}
p {
    font-size: 0.8rem;
}
h2{
    font-size: 1.2rem;
}
.zoom>img{
    height: 150px;
}