.fundal{
    padding-bottom: 6%;
}
#listp{
	margin-left:5%;
}
aside p{
    margin-top: 3%;
}
th,td{
    border:1px solid black;
    padding:2px;
    text-align:center;
}
th{
    background-color:darkslategray;
}

table{
    border-collapse:collapse;
    empty-cells:show;
    margin-left: 10%;
    background-color:darkmagenta;
    width:40%;
    float:left;
    margin-top:1.5%;
    font-size: 1rem;
}
tr:hover{
    background-color: darkslategray;
}
figure {
    display: inline-block;
}
aside{
    margin-top: 10px;
    left: 30px;
}
#grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#grid>figure:nth-child(1){
    grid-area: 3/1/4/2;
}
#grid>figure:nth-child(2){
    grid-area: 2/1/3/2;
}
#grid>figure:nth-child(3){
    grid-area: 1/1/2/2;
}
#grid>figure:nth-child(4){
    grid-area: 1/2/2/3;
}
#grid>figure:nth-child(5){
    grid-area: 1/3/2/4;
}
#grid>figure:nth-child(6){
    grid-area: 1/4/2/5;
}
#grid>figure:nth-child(7){
    grid-area: 2/4/3/5;
}
#grid>figure:nth-child(8){
    grid-area: 3/4/4/5;
}
#grid>figure>figcaption{
    text-align:center;
    background-color: purple;
}
#grid .zoom>img{
    width: 100%;
    height: auto;
}
#grid>#grid-galerie{
    grid-area: 2/2/4/4;
}
.video{
    margin-top: 1%;
    text-align: center;
}
#container-animatie{
    position:relative;
    overflow:hidden;
    border:1px solid black;
    width:49%;
    height:57%;
    box-sizing:content-box;
    margin: 15% auto auto 23%;
    
}
#derulant{
    display:flex;
    flex-wrap:nowrap;
    position: absolute;
    animation-name:go;
    animation-direction: alternate;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-duration:30s;
}
#derulant>*{
    flex-shrink: 0;
    position:relative;
    margin:0px;
}
#derulant figure img{
    height: 98%;
    width: 19vw;
}
#container_animatie *{
    height:100%;
    width:100%;
}
#derulant{
    height:89%;
}
@keyframes go{
    0%{
        left:0px;
    }
    100%{
        left:-728%;
    }
}
#container-animatie figure figcaption{
    text-align: center;
    background-color: purple;
    margin: 0px;
}
.orion {
    position: relative;
    display: inline-block;
    margin-left:10%;
    width:30%;
    height: auto;
}
.orion img {
    vertical-align: top;
    width: 100%;
}
.orion figcaption {
    border: 1px dotted blue;
    text-align: center;
    background-color: purple;
    color: white;
    font-weight: bold;
}
.poze {
    position: relative;
    display: inline-block;
    margin-left:30%;
    width:40%;
    height: auto;
}
.poze img {
    vertical-align: top;
    width: 100%;
}
.poze figcaption {
    border: 1px dotted blue;
    text-align: center;
    background-color: purple;
    color: white;
    font-weight: bold;
}
video{
    width: 40%;
    height: auto;
}